* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-family: "Mukta", sans-serif;
}
body {
  /* height: 100vh;
  width: 100vw; */
  background-color: #edf1fd;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

#navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

#list_item {
  display: flex;
  padding: 20px;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  /* color:black ; */
}

.bar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
#button-nav {
  gap: 90px;
  display: flex;
  padding: 10px 15px;
  /* border: none; */
  border-radius: 20px;
  border-color: black;
  background-color: blueviolet;
  color: #fff;
  font-size: 20px;
}
#button-nav:hover {
  background-color: blue;
  color: black;
}
/* hero section */

#hero-section {
  margin: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero left section */
#hero-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#hero-left-section h1 {
  font-size: 60px;
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 30px; */
  font-weight: 700;
  line-height: 1.3;
  /* margin: 30px; */
  overflow: hidden;
}
#hero-left-section h1 span {
  color: blueviolet;
}
p {
  align-items: center;
  font-size: 20px;
}
#button-hero {
  margin: 20px;
  font-size: 20px;
  padding: 10px 15px;
  border-color: black;
  background-color: blueviolet;
  color: #fff;
  border-radius: 20px;
}
#button-hero:hover {
  background-color: blue;
  color: black;
}

/* hero right section */

#hero-right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 80%;
  gap: 60px;
  /* height: 90px; */
}

@media screen and (max-width: 440px) {
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #logo img {
    width: 90px;
  }

  #navbar ul {
    display: none;
  }

  nav .bar {
    display: block;
  }

  nav .bar i {
    color: purple;
    font-size: 40px;
  }

  #hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  #hero-left-section {
    order: 2;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin: 30px 0 0 0;
  }
  #hero-left-section h1 {
    text-align: center;
    font-size: 25px;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 30px; */
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  #hero-left-section h1 span {
    color: blueviolet;
  }
  p {
    /* align-items: center; */
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
  }
  #button-hero {
    margin: 0px;
    font-size: 15px;
    padding: 2px 7px;
    border-color: black;
    background-color: blueviolet;
    color: #fff;
    border-radius: 20px;
  }

  #hero-right-section {
    margin: 0;
    padding: 0;
    order: 1;
  }

  #hero-right-section img {
    width: 400px;
    height: 400px;
  }
}
